@tailwind base;
@tailwind components;
@tailwind utilities;

/* ตั้งค่าสีพื้นหลังและตัวอักษรเริ่มต้นให้เว็บ */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

/* ทำให้ Scrollbar ดูสะอาดตาขึ้น (Optional แต่แนะนำสำหรับเว็บ Dev) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}